{
    "app": {
        "name": "images-optimize-service",
        "env": "development"
    },
    "directories": [
	    "./storage/**/**"
    ],
    "port": 3000,
    "allow": {
        "patterns": [
            "^https?:\\/\\/([a-zA-Z0-9-]+\\.)*red-ant\\.app(:\\d+)?$",
            "^https?:\\/\\/([a-zA-Z0-9-]+\\.)*smarterp\\.app(:\\d+)?$",
            "^https?:\\/\\/([a-zA-Z0-9-]+\\.)*turbotech\\.com(:\\d+)?$",
            "^https?:\\/\\/([a-zA-Z0-9-]+\\.)*turbotech\\.com\\.kh(:\\d+)?$",
            "^https?:\\/\\/localhost(:\\d+)?$",
            "^https?:\\/\\/127\\.0\\.0\\.1(:\\d+)?$"
        ],
        "origins": []
    }
}
