{
    "app": {
        "name": "CDN API",
        "env": "development"
    },
    "port": 3000,
    "directories": [
        "./storage/**/**"
    ],
    "allow": {
        "origins": [
            "http://localhost:3000",
            "http://localhost:5173"
        ],
        "patterns": [
            "^https?://.*\\.stackdev\\.cloud$"
        ]
    },
    "database": {
        "dbPath": "src/data/app.db",
        "autoRunMigrations": true,
        "autoRunSeeds": false
    },
    "auth": {
        "jwtSecret": "your-super-secret-jwt-key-min-32-characters-long",
        "jwtExpiresIn": "1h",
        "refreshTokenExpiresIn": "7d",
        "bcryptRounds": 12,
        "maxLoginAttempts": 5,
        "lockoutDuration": 15,
        "maxSessionsPerUser": 5
    }
}